.ai-analyzer {
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.ai-analyzer-text {
    font-size: 12px;
    font-weight: bold;
}

.ai-analyzer-img {
    width: 55px;
    cursor: pointer;
}

/*  modal*/
.ai-modal {
    position: fixed;
    /* La modal se posicionará por encima del contenido */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semitransparente */
    z-index: 1000;
    /* Asegura que la modal esté encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-analyzer-spinner {
    width: 350px;
}

.ai-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centra el contenido verticalmente */
    align-items: center;
    /* Centra el contenido horizontalmente */
    width: 650px;
    max-height: 80vh;
    /* Establece una altura máxima relativa al viewport */
    overflow-y: auto;
    /* Permite el desplazamiento vertical */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.ai-answer-content {
    max-height: 100%;
    /* Asegura que el contenido no se desborde */
    overflow-y: auto;
    /* Desplazamiento vertical */
    padding: 10px;
    box-sizing: border-box;
    /* Asegura que el padding no afecte al tamaño del contenedor */
}

.ai-modal-content button {
    margin-top: 20px;
    /* Añadir un pequeño margen si es necesario */
}

.ai-modal button {
    margin-top: 10px;
}