.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/background/background.png'); /* Ruta relativa a la carpeta public */
  background-size: cover; /* Ajusta según tus necesidades */
  z-index: 9999;
  font-family: "Nanum Pen Script";
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.splash-logo {
  width: 250px;
  height: 250px;
}