.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(1, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    background: rgba(1, 0, 0, 0.4);
    border-radius: 50px;
    padding: 90px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.close-button:hover {
    color: red;
}


.animated-div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: pulsate 1.5s ease-in-out infinite;
    margin: 30px auto;
}

.value-labels {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: "Nanum Pen Script";

}

.accept-mood {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

input[type="range"] {
    width: 300px;
    height: 15px;
    margin: 0;
    margin-top: 40px;
    border-radius: 10px;
    background: linear-gradient(to right, #8e44ad, #2980b9, #1abc9c, #2ecc71, #fff700, #ff9b00);
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.markers {
    position: relative;
    width: 290px;
    height: 0;
}

.marker {
    content: '';
    position: absolute;
    top: 5px;
    width: 1px;
    height: 5px;
    background-color: #fff;
}

.marker:nth-child(1) {
    left: 0%;
}

.marker:nth-child(2) {
    left: 25%;
}

.marker:nth-child(3) {
    left: 50%;
}

.marker:nth-child(4) {
    left: 75%;
}

.marker:nth-child(5) {
    left: 100%;
}

@keyframes pulsate {

    0%,
    100% {
        box-shadow:
            0 0 10px #fff,
            -10px 0 40px var(--colorStart),
            10px 0 40px var(--colorEnd),
            inset 0 0 25px #fff,
            inset 25px 0 40px var(--colorStart),
            inset -25px 0 40px var(--colorEnd),
            inset 25px 0 150px var(--colorStart),
            inset -25px 0 150px var(--colorEnd);
    }

    50% {
        box-shadow:
            0 0 20px #fff,
            -20px 0 80px var(--colorStart),
            20px 0 80px var(--colorEnd),
            inset 0 0 50px #fff,
            inset 50px 0 80px var(--colorStart),
            inset -50px 0 80px var(--colorEnd),
            inset 50px 0 300px var(--colorStart),
            inset -50px 0 300px var(--colorEnd);
    }
}